@font-face {
   font-family: 'KoPub Batang';
   font-style: normal;
   font-weight: 400;
   src: url(KoPubBatang-Regular.woff) format('woff');
 }
@font-face {
   font-family: 'KoPub Batang';
   font-style: normal;
   font-weight: 700;
   src: url(KoPubBatang-Bold.woff) format('woff');
 }
